
.ganpati-header {
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:46px;
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #df3fa1, #d43f58);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #df3fa1, #d43f58); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}