.catalog {
    padding: 3rem;
    background: rgb(29, 26, 26);
    text-decoration:none;
  }
  
.headline {
    text-align: center;
    font-size:40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#ee0979;
}

.tagline {
  text-align:center;
  font-size:26px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#da22ff;
}

  
  .catalog__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 80%;
    margin: 0 auto;
    
  }
  
  .catalog__wrapper {
    position: relative;
    margin: 50px 0 45px;
    
  }
  
  .catalog__items {
    margin-bottom: 24px;
    list-style-type:none;

  }
  
  .catalog__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    margin:10px 20px;
    background-color:rgb(241, 233, 233);
  }
  
  .catalog__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(187, 180, 180, 0.76);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .catalog__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
    height: 150px;
    width: 290px;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .catalog__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 16px;
    font-weight: 700;
    color: black;
    box-sizing: border-box;
  }
  
  .catalog__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: 220px;
    width: 300px;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .catalog__item__img:hover {
    transform: scale(1.1);
  }
  
  .catalog__item__info {
    padding: 20px 30px 30px;
  }
  
  .catalog__item__text {
    color: #7c1046; /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #3498db, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 1.8rem;
    line-height: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    text-decoration:none;
  }

  .catalog__item__text:hover {
    text-decoration:none;
    color:#100970;
  }

  .catalog__item__link:hover{
    text-decoration:none;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .catalog__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .catalog__item {
      margin-bottom: 2rem;
    }

    .catalog__item__text:hover {
      text-decoration:none;
      color:#100970;
    }
  
    .catalog__item__link:hover{
      text-decoration:none;
    }
  }